* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #E7F1F1;
    min-height: 100vh;
    display: flex;
    margin: 0;
}

.current-palette-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.no-saved-palette-heading, .no-saved-palette-heading {
    font-size: 35px;
    margin-top: 100px;
    font-weight: 800;
}

.lock-img {
    width: 20%;
    height:40%;
    padding-bottom: 5px;
    padding-right: 2px;
}

.lock-icon, .delete-icon {
    width: 20%;
    padding-bottom: 5px;
    padding-right: 2px;
}

.color-name {
    display: flex;
    justify-content: center;
    font-size: medium;
}

.color-boxes {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
} 

.box-one {
    background-color: #EA9999;
}

.box-two {
    background-color: #FACB9C;
}

.box-three {
    background-color: #FFE59A;
}

.box-four {
    background-color: #B6D788;
}

.box-five {
    background-color: #A4C4CA;
}

.common {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.small-box {
    width: 50px;
    height: 50px;
    border: 3px solid black;
}

.box {
    display: flex;
    width: 41%;
    justify-content: space-evenly;
} 


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-palette-btn, .save-palette-btn {
    width: 250px;
    height: 50px;
    margin-top: 40px;
    background-color: black;
    color: white;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    font-size: 25px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 670px;
    padding-top: 50px;
}

.saved-palettes {
    display: flex;
    flex-direction: column;
    border-left: 5px solid black;
    align-items: center;
    width: 30%;
    height: 100vh;
    padding-top: 0%;
    padding-bottom: 0%;
}

.small-box-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.colorandom-title {
    font-size: 90px;
    margin-top: 160px;
    margin-bottom: 50px;
    font-weight: 550;
}